<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      #gradation {
        background: -moz-linear-gradient(top, #e9f9e3, #FFF);
        background: -webkit-linear-gradient(top, #e9f9e3, #FFF);
        background: linear-gradient(to bottom, #e9f9e3, #FFF);
        /*グラデーション以外は省略*/
      }
    </style>
    <%= image_tag("title.jpg" ,:size =>'1500x300') %>
    <title>履修削除</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <div class="row">
      <div class="col-3">
      </div>
      <div class="col-9">
        <br>
        <br>
        <h2>履修削除</h2>
        <br>
          <%= form_tag '/list', method: 'post', multipart: true do %>
            学籍:<%= text_field_tag :studentId %><br><br>
            名前:<%= text_field_tag :name %><br><br>
            成績ファイル:<%= file_field_tag :score_file %>
            <%= submit_tag "ログイン", :class => 'btn btn-success' %>
          <% end %>
      </div>
    </div>
  </body>
</html>
